<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">
{% comment %}
<script src="{% static 'js/alertas.js' %}"></script> {% endcomment %}


<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <h1>Crear Cargo</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.nombre_cargo.label_tag }} {{ form.nombre_cargo }}
            {{ form.estado_cargo.label_tag }} {{ form.estado_cargo }}
            <input type="submit" value="Crear Cargo">
        </form>
        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
    </div>
</div>
<a href="{% url 'usuarios' %}" id="back2">
    <div>
        <button class="back">Regresar</button>
    </div>
</a>
{% endblock %}