<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">
{% comment %}
<script src="{% static 'js/alertas.js' %}"></script> {% endcomment %}


<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div class="all">
            <div id="tabla">
                <h1>Editar Cargo</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.id }}
                    <div class="form-group">
                        {{ form.nombre_cargo.label_tag }}
                        {{ form.nombre_cargo }}
                    </div>
                    <div class="form-group">
                        {{ form.estado_cargo.label_tag }}
                        {{ form.estado_cargo }}
                    </div>
                    <button class="subir" type="submit">
                        <i class='bx bx-pencil'></i>
                        <span>Editar</span>
                     </button> 
                </form>

            </div>
        </div>
    </div>
</div>
<a href="{% url 'listar_cargos' %}" id="back2">
    <button class="back">
        <div class="icon">
            <i class='bx bx-arrow-back'></i>
        </div>
        <span>
            Regresar
        </span>
    </button>
</a>
{% endblock %}