<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/ver_Evaluacion.css' %}">

<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="card">
                <div class="header">
                    <h1>{{ evaluacion.nombre_evaluacion }}</h1>
                </div>
                <div class="info">
                    <p class="title">Descripcion</p>
                    <p>{{ evaluacion.descripcion_evaluacion }}</p>
                    <p class="title">Instrucciones</p>
                    <p>{{ evaluacion.instrucciones_evaluacion }}</p>
                </div>
                <div class="footer">
                    <p class="tag" style="font-weight:bold;">{{ evaluacion.duracion_evaluacion_admin }} minutos/ {{ evaluacion.numero_intentos }}
                        intentos</p>
                        <a href="{% url 'ver_preguntas_detalle' evaluacion_id=evaluacion.id %}">
                            <button class="subir" type="submit">
                                <i class='bx bx-question-mark'></i>
                                <span>Ver Preguntas</span>
                            </button>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'listar_evaluacion' %}" id="back2">
        <button class="back">
            <button class="back">
                <i class='bx bx-arrow-back'></i>
                <span>Regresar</span>
            </button>
        </button>
    </a>
    <a href="{% url 'editar_evaluacion' evaluacion_id=evaluacion.id %}" id="back2">
        <button class="back1">
            <button class="back1">
                <i class='bx bx-pencil' ></i>
                <span>Editar</span>
            </button>
        </button>
    </a>


    {% comment %} <div class="home_content">
        <div class="text">
            <div class="all">
                <div class="tabla">
                    <div class="titulo">
                        <h1>{{ evaluacion.nombre_evaluacion }}</h1><!--En resumen, esta línea de código se utiliza para mostrar el título o nombre de una evaluación específica en una página web.-->
                    </div>
                    <!-- se utiliza para mostrar la descripción de una evaluación en una página web. -->
                    <div class="descripcion">
                        <p>{{ evaluacion.descripcion_evaluacion }}</p>
                    </div>
                    <!--se utiliza para mostrar las instrucciones de una evaluación en una página web de manera estructurada-->
                    <div class="instrucciones">
                        <h2>Instrucciones</h2>
                        <div class="instrucciones2">
                            <p id="parrafo">{{ evaluacion.instrucciones_evaluacion }}</p>
                        </div>
                    </div>
                    <!--se utiliza para mostrar la duración de una evaluación en una página web de manera estructurada y formateada.-->
                    <div class="duracion">
                        <p>Duración: {{ evaluacion.duracion_evaluacion_admin }} minutos</p>
                    </div>
                    <!--se utiliza para mostrar los numeros de intentos de una evalucion en la pagina wed -->
                    <div class="numIntentos">
                        <p>Número de intentos: {{ evaluacion.numero_intentos }}</p>
                    </div>

                <div class="button-box">
                        <a href="{% url 'ver_preguntas_detalle' evaluacion_id=evaluacion.id %}">
                        <button class="subir" type="submit"><span>Ver Preguntas </span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'listar_evaluacion' %}" id="back2">
        
            <button class="back">Regresar</button>
    </a>
    <a href="{% url 'editar_evaluacion' evaluacion_id=evaluacion.id %}" id="back2">
            <button class="back1">Editar</button>
    </a> {% endcomment %}
</body>
{% endblock %}