{% extends 'Layout/Base.html' %}<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% load static %}<!--para cargar los archivos estaticos en la platilla-->

{% block content %}<!--es un bloqueo de contenido -->
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">

<body>
    <div class="home_content">
        <div class="text">
            <div class="all">
                <div class="tabla">
                    <div class="titulo">
                        <h1>{{ evaluacion.nombre_evaluacion }}</h1><!--En resumen, esta línea de código se utiliza para mostrar el título o nombre de una evaluación específica en una página web.-->
                    </div>
                    <!-- se utiliza para mostrar la descripción de una evaluación en una página web. -->
                    <div class="descripcion">
                        <p>{{ evaluacion.descripcion_evaluacion }}</p>
                    </div>
                    <!--se utiliza para mostrar las instrucciones de una evaluación en una página web de manera estructurada-->
                    <div class="instrucciones">
                        <h2>Instrucciones</h2>
                        <div class="instrucciones2">
                            <p id="parrafo">{{ evaluacion.instrucciones_evaluacion }}</p>
                        </div>
                    </div>
                    <!--se utiliza para mostrar la duración de una evaluación en una página web de manera estructurada y formateada.-->
                    <div class="duracion">
                        <p>Duración: {{ evaluacion.duracion_evaluacion_admin }} minutos</p>
                    </div>
                    <!--se utiliza para mostrar los numeros de intentos de una evalucion en la pagina wed -->
                    <div class="numIntentos">
                        <p>Número de intentos: {{ evaluacion.numero_intentos }}</p>
                    </div>
                    <div class="button">
                        <a href="{% url 'ver_preguntas_detalle' evaluacion_id=evaluacion.id %}">
                            <button type="button" class="start">Ver Preguntas</button>
                        </a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'listar_evaluacion' %}" id="back2">
        <div>
            <button class="back">Regresar</button>
        </div>
    </a>
    <a href="{% url 'editar_evaluacion' evaluacion_id=evaluacion.id %}" id="back2">
        <div>
            <button class="back1">Editar</button>
        </div>
    </a>
</body>
{% endblock %}