<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}

<link rel="stylesheet" href="{% static 'Css/evaluacion.css' %}">



<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="container-fluid">
                <div class="row" id="tabla">

                    <h1 style="text-align:center;">Gestión curso</h1>
                <div class="folder-container">
                            <!--se esta enlazando la url de 'crear_curso'-->
                        <a href="{% url 'crear_curso' %}" class="folder-box"> <i class='bx bx-book-add'></i>
                                <div  >
                                <p>Crear curso</p>
                            </div>
                        </a>                                <!--se esta enlazando la url de 'listar_cursos'-->
                            <a href="{% url 'listar_cursos' %}" class="folder-box"> <i class='bx bx-list-ul' ></i>
                                <div  >
                                <p>Listar cursos</p>

                            </div>
                        </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}