{% extends 'Layout/Base.html' %}<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% load static %}<!--para cargar los archivos estaticos en la platilla-->
{% block content %}<!--es un bloqueo de contenido -->

<link rel="stylesheet" href="{% static 'Css/evaluacion.css' %}">



<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="container-fluid">
                <div class="row" id="tabla">
                    <div>
                        <h1 style="text-align:center;">Gestion Curso</h1>
                        <div class="folder-container">
                            <a href="{% url 'crear_curso' %}" class="folder-box"> <i class="bx bx-folder folder-icon"></i><!--se esta enlazando la url de 'crear_curso'-->
                                <div  >
                                <p>Crear Curso</p>
                            </div>
                        </a>
                            <a href="{% url 'listar_cursos' %}" class="folder-box"> <i class="bx bx-folder folder-icon"></i><!--se esta enlazando la url de 'listar_cursos'-->
                                <div  >
                                <p>Listar Cursos</p>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}