{% extends 'Layout/Base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Curso.css' %}">

<div class="home_content">
    <div class="text">
        <div id="contenedor"  class="container-fluid">
            <h1> Listar cursos </h1>
            <br>
            <form class="search" action="{% url 'filtrar' %}" method="GET">
                <input type="text" class="search-bar" name="search" placeholder="Buscar curso...">
                <button class="search-icon"> <i class='bx bx-search-alt'
                    style="font-size:27px; "></i></button> <br>
                </form>
                <hr>
            <a href="{% url 'listar_cursos' %}">
                <button class="ver_todos">
                    <span>Ver todos</span>
                    <i class='bx bx-chevron-right'></i>
                </button>
            </a>
            <table class="table table-hover mt-4 ">
                <thead>
                    <tr  id="cabecera">
                        <th  style="width: 280px;" scope="col" >Nombre</th>
                        <th  style="width: 100px;" scope="col" id="estado">Estado</th>
                        <th   style="width: 100px;" scope="col" id="visualizar">Visualizar</th>
                    </tr>
                </thead>
            </table>
                <div class="table-responsive ">
                    <table class="table table-hover mt-4 table-2">
                    
                    <tbody class=" overflow-hidden">
                        {% for curso in listarc %}
                        <tr >
                            <td id="nombre"  style="width: 355px;">{{ curso.nombre_curso }}</td>
                            {% if curso.estado_curso %}
                            <td  id="estado">
                                <!-- <p class='status--active'>Activo</p> -->
                                <button type="button" class="btn btn-success text-white activo">Activo</button>

                            </td>
                            {% else %}
                            <td  id="estado">
                                <!-- <p class='status--inactive'>Inactivo</p> -->
                                <button type="button" class="btn btn-warning text-white inactivo">Inactivo</button>

                            </td>
                            {% endif %}
                            <td  id="visualizar">
                                <a href="{% url 'ver_cursos' curso.id %}">
                                    <button type="button" class="btn visualizar">Visualizar</button>

                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{% url 'cursos' %}" id="back2">
        <button class="back">
            <button class="back">
                <i class='bx bx-arrow-back'></i>
                <span>Regresar</span>
            </button>
        </button>
    </a>
    {% endblock %}