{% extends 'Layout/Base.html' %}<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% load static %}<!--para cargar los archivos estaticos en la platilla-->
{% block content %}<!--es un bloqueo de contenido -->
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">

<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="all">
                <div id="tabla">
                    <div>
                        <h1>Crear Modulos </h1>
                        <div class="form">
							<form method="post">
                                {% csrf_token %}<!--es una medida de seguridad importante para proteger tu aplicación web Django contra ataques -->
								{% load widget_tweaks %}<!--sirve para  cargar la biblioteca de etiquetas llamada "widget_tweaks"-->
								<div class="form-group">


								</div>
                                {{ form.as_p }}
								<button type="submit" >Guardar</button>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'modulos' %}"  id="back2"><!--nos dirije a la URL correspondiente a la vista llamada 'modulo' -->
    <div >
		<button  class="back">Regresar</button>
	</div>
</a>
</body>
{% endblock %}