{% extends 'Layout/Base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">

<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="all">
                <div id="tabla">
                    <div>
                        <h1>Crear Modulos </h1>
                        <div class="form">
							<form method="post">
                                {% csrf_token %}
								{% load widget_tweaks %}
								<div class="form-group">


								</div>
                                {{ form.as_p }}
								<button type="submit" >Guardar</button>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'modulos' %}"  id="back2">
    <div >
		<button  class="back">Regresar</button>
	</div>
</a>
</body>
{% endblock %}