{% extends 'Layout/Base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Curso.css' %}">
<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <h1> Listado de Modulos </h1>
        <br>
        <form class="search" action="{% url 'filtrar' %}" method="GET">
            <input type="text" class="search-bar" name="search" placeholder="Buscar Modulos...">
            <input type="submit" class="btn search-btn" value="Buscar">
        </form>

        <br>
        <a href="{% url 'listar_cursos' %}">
            <button>
            vertodos
            </button>
        </a> 
        <div class="table-responsive">
            <table class="table " id="tablam">
                <thead>
                    <tr>
                        <th scope="col">Modulos</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                        <th scope="col">Visualizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for modulos in listarm %}
                    <tr>
                        <th scope="row">{{modulos.nombre_modulo}}</th>
                        {% if modulos.estado_modulo %}
                        <th scope="row">Activo</th>
                        {% else %}
                        <th scope="row">Inactivo</th>
                        {% endif %}
                        <th scope="row">{{modulos.duracion_modulos_admin}}</th>
                        <td>
                            <a href="{% url 'ver_modulos' modulos.id %}">  
                                <button class="back3">Visualizar</button>
                            </a>
                                
                        </td>
                        
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<a href="{% url 'modulos' %}" id="back2">
    <div>
        <button class="back">Regresar</button>
    </div>
</a>
{% endblock %}