<!--para cargar los archivos estaticos en la platilla-->
{% block content %}

{% load static %}

<!--La primera línea carga un archivo CSS-->
<link rel="stylesheet" href="{% static 'Css/Login.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
<!--segunda línea carga la hoja de estilo de Bootstrap desde un CDN para utilizar los estilos y componentes proporcionados por Bootstrap en la página web.-->

<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="text-center text-white" >
        <h1 class="mb-4" style="font-size: 36px;">Bienvenido a Cyres Educativo</h1>
        <!--se utilizan para crear un contenedor en una página web que contiene una imagen de un icono de inicio de sesión (login).-->
        <div class="bg-white p-5 rounded-5" id="all ">
            <div class="d-flex justify-content-center">
                <img src="/static/img/login-icon.svg" alt="login-icon" class="login-icon">
            </div>
            <form id="form-login" method="post" action="">
                <div class="text-center fs-1 fw-bold text-secondary " id="">Login</div>
                <!-- se utiliza en plantillas HTML en aplicaciones web basadas en Django para incluir un token de seguridad-->
                {% csrf_token %}
                <!-- se utiliza para crear un grupo de entrada visualmente estilizado que contiene una imagen de un icono de nombre de usuario.-->
                <div class="input-group mt-4">
                    <div class="input-group-text btn-login">
                        <img src="/static/img/username-icon.svg" alt="username-icon" class="username">
                    </div>
                    <input type="text" name="username" id="" placeholder="Nombre de Usuario">
                </div>
                <!--se utiliza para crear un campo de contraseña en un formulario web. -->
                <div class="input-group mt-4">
                    <div class="input-group-text btn-login">
                        <img src="/static/img/password-icon.svg" alt="username-icon" class="password">
                    </div>
                    <input type="password" name="password" placeholder="Contraseña" id="password1">
                    <div id="show"  onclick="mostrar()">
                        <svg xmlns="http://www.w3.org/2000/svg" id="eye" width="24" height="24" viewBox="0 0 24 24"
                            style=" cursor:pointer;">
                            <path
                                d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z">
                            </path>
                            <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
                        </svg>
                    </div>
                </div>
                <!--representa un botón de inicio de sesión estilizado con Bootstrap.-->
                <button type="submit" class="  w-100 mt-4 fw-semibold shadow-sm subir">Iniciar
                    sesion</button>

            </form>
        </div>
    </div>

</body>

<script>
    //se agrega validacion para que cuando se presione la tecla enter permita enviar el formulario
    document.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            const activeElement = document.activeElement;
            if (activeElement.tagName === "INPUT" && activeElement.form) {
                activeElement.form.submit();
            }
        }
    });
    function mostrar(){
        var tipo = document.getElementById("password1");
        var eyeIcon = document.getElementById("eye");

        if(tipo.type == "password"){
            tipo.type = "text";
            eyeIcon.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: red ;transform: ;msFilter:;"><path d="M8.073 12.194 4.212 8.333c-1.52 1.657-2.096 3.317-2.106 3.351L2 12l.105.316C2.127 12.383 4.421 19 12.054 19c.929 0 1.775-.102 2.552-.273l-2.746-2.746a3.987 3.987 0 0 1-3.787-3.787zM12.054 5c-1.855 0-3.375.404-4.642.998L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.298-3.298c2.638-1.953 3.579-4.637 3.593-4.679l.105-.316-.105-.316C21.98 11.617 19.687 5 12.054 5zm1.906 7.546c.187-.677.028-1.439-.492-1.96s-1.283-.679-1.96-.492L10 8.586A3.955 3.955 0 0 1 12.054 8c2.206 0 4 1.794 4 4a3.94 3.94 0 0 1-.587 2.053l-1.507-1.507z"></path></svg>';
        }else{
            tipo.type = "password";
            eyeIcon.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(43, 70, 78, 1);transform: ;msFilter:;"><path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"></path><path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path></svg>';
        }
    }
</script>

{% endblock %}