<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Cursos_Usuarios.css' %}">
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <h1 style="text-align: center;"> Cursos </h1>
        <br>

        <div class="caja-container">
            {% for curso in listacursos %}
            <div class="flex-container">
                <div class="flex-items">
                    <div class="card">
                        <div class="card-image-container">
                            <img src="{% static 'img/iconos/animacion-degital_1.jpg' %}" alt="Icono del Curso">
                        </div>
                        <p class="card-title">{{ curso.nombre_curso }}</p>
                        <form method="post" action="{% url 'Modulos_Usuarios' %}">
                            {% csrf_token %}
                            <div class="card-btn">
                                <input type="hidden" name="curso" value="{{ curso.id }}">
                                <button type="submit" class="card-btn-text">                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3 1.641 0 3-1.358 3-3 0-1.641-1.359-3-3-3z">
                                    </path>
                                    <path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 12c-5.351 0-7.424-3.846-7.926-5C4.578 10.842 6.652 7 12 7c5.351 0 7.424 3.846 7.926 5-.504 1.158-2.578 5-7.926 5z">
                                    </path>
                                </svg>Visualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
                
        </div>
    </div>
</div>
</div>
<a href="{% url 'gestion_MaterialApoyo' %}" id="back2">
    <div>
        <button class="back">Regresar</button>
    </div>
</a>
{% endblock %}