<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Cursos_Usuarios.css' %}">
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <h1 style="text-align: center;"> Cursos </h1>
        <br>

        <div class="caja-container">
            {% for curso in listacursos %}
            <div class="flex-container">
                <div class="flex-items">
                    <div class="card">
                        <div class="card-image-container">
                            <img src="{% static 'img/iconos/animacion-degital_1.jpg' %}" alt="Icono del Curso">
                        </div>
                        <p class="card-title">{{ curso.nombre_curso }}</p>
                        <form method="post" action="{% url 'Modulos_Usuarios' %}">
                            {% csrf_token %}
                            <div class="card-btn">
                                <input type="hidden" name="curso" value="{{ curso.id }}">
                              <div class="button-box">
									<button class="subir" type="submit"><span>Visualizar </span></button>
								</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
                
        </div>
    </div>
</div>
</div>
<a href="{% url 'gestion_MaterialApoyo' %}" id="back2">
        <button class="back">
            <div class="icon">
                <i class='bx bx-arrow-back'></i>
            </div>
            <span>
                Regresar
            </span>
        </button>
</a>
{% endblock %}