<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Curso.css' %}">
<!--se utiliza para cargar una hoja de estilo CSS llamada 'Curso.css' en una página web. -->

<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <br>
        <h1> Material de apoyo </h1>
        <form class="search" action="{% url 'filtrar_material' %}" method="GET">
            <input type="text" class="search-bar" name="search" placeholder="Buscar Material de apoyo...">
            <input type="submit" class="btn search-btn" value="Buscar">
        </form>

        
        <div class="table-responsive">
            <table class="table table-hover" id="tablam">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Archivo</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    
                    {% for material in materiales %}
                    
                    <tr>
                        <td>{{ material.NombreMaterialApoyo }}</td>
                        <td>{{ material.DescripcionMaterialApoyo }}</td>
                        <td>
                            <a href="{{ material.Archivo }}" target="_blank">
                                <button class="editar">
                                    Visualizar
                                </button>
                        </td>
                        {% if group_name == 'administrativos' %}
                        <td>
                            <a href="{% url 'editar_material' pk=material.pk %}">
                                <button class="editar">
                                    Editar
                                </button>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'Material_Usuarios' %}" id="back2">
            <div>
                <button class="back">Regresar</button>
            </div>  
        </a>
            
        
{% endblock %}