<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}

<link rel="stylesheet" href="{% static 'Css/Modulos_Usuarios.css' %}">

<div class="home_content">
    <div class="text">
        <h1 style="text-align: center;">{{ nombre_curso }}</h1>
        <div class="grid-container">
            <div class="column">
                
                    <div class="row">
                        <img src="{{ icono_curso }}" alt="Icono del Curso" class="icono-curso">
                    </div>
                <div class="descripcion">
                    <div class="titulo">Descripción</div>
                    <p>
                        {{ descripcion_curso }}
                    </p>
                </div>
            </div>

            <div class="column-single">
                <div class="modulos">
                    {% for clase in listaclases %}
                        {% if clase.tipo == 'evaluacion' %}
                                {% if clase.disponible %}
                                <button  class="evaluacion" onclick="solicitarPreguntas({{ clase.id }})">
                                    <h3 >{{ clase.titulo | title }}</h3 >
                                </button>
                                {% else %}
                                <!-- <h1>{{ clase.titulo | title }}</h1> -->
                                <button class="evaluacion-invalida " >
                                        <h3 >No hay evaluaciones por el momento
                                        </h3>
                                    </button>
                            {% endif %}
                        {% else %}
                        <div class="modulo-titulo">
                            {% if clase.tipo == 'modulo' %}
                                <h1>{{ clase.titulo | title }}</h1>
                            {% else %}
                        </div>
                            <div class="clases">
                                <div class="contenido-clases">
                                    {% if clase.disponible %}
                                    <a href="{% url 'ejecutar_clase' clase_id=clase.id %}">
                                            <h3 class="nombre-clase">
                                            {{ clase.titulo | title }}
                                        </h3>
                                    </a>
                                    {% else %}
                                </div>
                                    <div class="contenido-clases-invalida">
                                        <h3 class="nombre-clase">
                                            {{ clase.titulo | title }}<i class='bx bx-lock-alt'></i>
                                        </h3>
                                    </div>
                                {% endif %}
                                {% endif %}
                            </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var infoElements = document.querySelectorAll(".pregunta");

        infoElements.forEach(function (info) {
            info.addEventListener("click", function () {
                // Eliminar la clase "clicked" de todos los elementos
                infoElements.forEach(function (element) {
                    element.classList.remove("clicked");
                });

                // Agregar la clase "clicked" al elemento clicado
                this.classList.add("clicked");
            });
        });
    });
</script>
{% endblock %}
