{% extends 'Layout/Base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Css/evaluacion.css' %}">
<div class="home_content">
    <div class="text">
        <h1 style="text-align: center;">{{nombre_curso}}</h1>
        <ul style="margin-left: 50px;">
            {% for modulo in listaModulos %}
                <li>
                    <h2>{{ modulo.nombre_modulo }}</h2>
                    <ul>
                        {% for clase in listaclases %}
                            {% if clase.tipo == 'evaluacion' %}
                                <li>
                                    {% if clase.disponible %}
                                        <button onclick="solicitarPreguntas({{clase.id}})">{{ clase.titulo }}</button>
                                    {% else %}
                                        {{ clase.titulo }}
                                    {% endif %}
                                </li>
                            {% else %}
                                {% if clase.id_modulo.id == modulo.id %}
                                    <li>
                                        {% if clase.tipo == 'modulo' %}
                                            {{ clase.titulo }}
                                        {% else %}
                                            {% if clase.disponible %}
                                                <a href="{% url 'ejecutar_clase' clase_id=clase.id %}">{{ clase.titulo }}</a>
                                            {% else %}
                                                {{ clase.titulo }}
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
    
    <!-- <div class="flex-container">
        <div class="flex-items">
            <article>
                <img src="{% static 'img/iconos/animacion-degital_1.jpg' %}" alt="Icono del Curso" id="imagen-curso">
                <section>
                    <h2>Descripción</h2>
                    <div class="descripcion">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id vel itaque similique,
                            aspernatur suscipit eos vitae, odio deleniti dolorum libero excepturi minus
                            molestias
                            impedit praesentium debitis animi nesciunt optio temporibus.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id vel itaque similique,
                            aspernatur suscipit eos vitae, odio deleniti dolorum libero excepturi minus
                            molestias
                            impedit praesentium debitis animi nesciunt optio temporibus.Lorem ipsum dolor sit,
                        </p>
                    </div>
                </section>
            </article>
        </div> -->
 

            <!-- <div class="flex-items">
                <div class="container">
                    <h2 style="text-align: center;">Clases</h2>
                    <aside>
                        <section>
                            <div class="clases">
                                <h3>Clase 1</h3>
                            </div>
                            <div class="clases">
                                <h3>Clase 2</h3>
                            </div>
                            <div class="clases-invalida">
                                <h3><i class='bx bxs-x-circle bx-tada bx-rotate-90'></i>
                                    !No tienes acceso¡
                                </h3>
                            </div>
                            <div class="clases-invalida">
                                <h3><i class='bx bxs-x-circle bx-tada bx-rotate-90'></i>
                                    !No tienes acceso¡
                                </h3>
                            </div>
                            <div class="clases-invalida">
                                <h3><i class='bx bxs-x-circle bx-tada bx-rotate-90'></i>
                                    !No tienes acceso¡
                                </h3>
                            </div>
                            <div class="clases-invalida">
                                <h3><i class='bx bxs-x-circle bx-tada bx-rotate-90'></i>
                                    !No tienes acceso¡
                                </h3>
                            </div>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'gestion_MaterialApoyo' %}" id="back2">
    <div>
        <button class="back">Regresar</button>
    </div>
</a> -->

