{% extends 'Layout/Base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Css/Modulos_Usuarios.css' %}">

<div class="home_content">
    <div class="text">
        <h1 style="text-align: center;">{{ nombre_curso }}</h1>
        <div class="grid-container">
            <div class="column">
                <div class="row">
                    <img src="{{ icono_curso }}" alt="Icono del Curso" class="icono-curso">
                </div>
                <div class="descripcion">
                    <div class="titulo">Descripción</div>
                    <p>{{ descripcion_curso }}</p>
                </div>
            </div>

            <div class="column-single">
                <div class="modulos">
                    {% for clase in listaclases %}
                        {% if clase.tipo == 'evaluacion' %}
                            <button class="evaluacion" {% if not clase.disponible %}disabled{% endif %} onclick="solicitarPreguntas({{ clase.id }})">
                                <h3>{{ clase.titulo | title }}</h3>
                            </button>
                        {% elif clase.tipo == 'modulo' %}
                            <div class="modulo-titulo">
                                <h1>{{ clase.titulo | title }}</h1>
                            </div>
                        {% else %}
                            <div class="clases">
                                <div class="contenido-clases{% if not clase.disponible %}-invalida{% endif %}">
                                    {% if clase.disponible %}
                                        <a href="{% url 'ejecutar_clase' clase_id=clase.id %}">
                                            <h3 class="nombre-clase">{{ clase.titulo | title }}</h3>
                                        </a>
                                    {% else %}
                                        <h3 class="nombre-clase">{{ clase.titulo | title }}<i class='bx bx-lock-alt'></i></h3>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'Cursos_Usuarios' %}" id="back2">
    <button class="back">
        <button class="back">
            <i class='bx bx-arrow-back'></i>
            <span>Regresar</span>
        </button>
    </button>
</a>

{% endblock %}
