<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/perfil.css' %}">
<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="parent">
                <div class="tittle">
                    <h1>
                        Perfil
                    </h1>
                    <img src="{% static 'img/user-removebg-preview.png' %}" alt="" id="img-user">
                </div>
                <div class="content">
                    <article>
                        <section>
                            <div class="nombre">
                                <p>
                                    Nombre y Apellido
                                </p>
                                <p id="name">
                                    {{ usuario.user.username }} {{ usuario.apellido }}
                                </p>
                                <hr>
                            </div>
                            <div class="edad">
                                <p>Edad</p>
                                <p id="age">
                                    {% comment %} {{user.profile.edad}} {% endcomment %}
                                    18
                                </p>
                                <hr>
                            </div>
                            <div class="correo">
                                <p>
                                    Correo
                                </p>
                                <p id="email">
                                    {{ usuario.email }}
                                </p>
                                <hr>
                            </div>
                            <div class="cargo">
                                <p>
                                    Cargo
                                </p>
                                <p id="position">
                                    {% comment %} {{ user.cargo }} {% endcomment %}
                                    {{ usuario.cargo }}
                                </p>
                                <hr>
                            </div>
                            <div class="tiempo-interaccion">
                                <p>
                                    Tiempo de interacción
                                </p>
                                <p id="time">
                                    18 Horas
                                </p>
                                <hr>
                            </div>
                            {% comment %} {% for curso in listacursos %} {% endcomment %}
                            <div class="cursos">
                                <p>
                                    Cursos
                                </p>
                                <p id="courses">
                                    {% comment %} {{ curso.nombre_curso }} {% endcomment %}
                                    Curso 1, Curso 2, Curso 3
                                </p>
                                <hr>
                            </div>
                            {% comment %} {% endfor %} {% endcomment %}

                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}