<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/perfil_usuario.css' %}">

<body>
    <div class="home-content">
        <div class="text">
            <div class="parent">
                <div class="user-info">
                    <!-- Aquí va la información del usuario, como foto, nombre, apellido, estado, cargo, email, y tiempo de interacción -->
                    <div class="tittle">
                        <img src="{% static 'img/user-removebg-preview.png' %}" alt="" id="img-user">
                    </div>
                    <div class="content">
                        <div class="nombre">
                            <p>
                                Nombre y Apellido
                            </p>
                            <p id="name">
                                {{ usuario.username }} {{ perfil.apellido }}

                            </p>
                            <hr>
                        </div>
                        <div class="estado">
                            <p>
                                Estado
                            </p>
                            <p id="estado_usuario">
                                {% if perfil.estadousuario %} Activo {% else %} Inactivo {% endif %}

                            </p>
                            <hr>
                        </div>
                        <div class="correo">
                            <p>
                                Correo
                            </p>
                            <p id="email">
                                {{ perfil.email }}
                            </p>
                            <hr>
                        </div>
                        <div class="cargo">
                            <p>
                                Cargo
                            </p>
                            <p id="position">
                                {{ perfil.cargo }}
                            </p>
                            <hr>
                        </div>
                        <div class="tiempo-interaccion">
                            <p>
                                Tiempo de interacción
                            </p>
                            <p id="time">
                                18 Horas
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="content_cursos">
                    <li>
                        <div class="Icon-links">
                            <span class="Link_name">Cursos asignados</span>
                            <i class='bx bx-chevron-down Arrow'></i>
                        </div>
                        <ul class="Sub-menu">
                            {% comment %} {% for curso in listacursos %}
                            <li><a href="#">{{ curso.nombre_curso }}</a></li>
                            {% endfor %} {% endcomment %}
                            <li><a href="#">Curso 1</a></li>
                            <li><a href="#">Curso 2</a></li>
                            <li><a href="#">Curso 3</a></li>
                        </ul>
                    </li>
                </div>
                <div class="cursos_culminados">
                    <p>
                        Cursos Culminados
                    </p>
                    <p id="position">
                        curso 5, curso 6
                    </p>
                    <hr>
                </div>
                <div class="certificaciones">
                    <p>
                        Certificaciones
                    </p>
                    <p id="position">
                        Certificacion curso 5
                        Certificacion curso 6
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<a href="{% url 'usuarios' %}" id="back2">
    <button class="back">
        <div class="icon">
            <i class='bx bx-arrow-back'></i>
        </div>
        <span>
            Regresar
        </span>
    </button>
</a>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let arrows = document.querySelectorAll(".Arrow");
        for (let Arrow of arrows) {
            Arrow.addEventListener("click", function (e) {
                let arrowParent = e.target.closest("li");
                arrowParent.classList.toggle("ShowMenu");
            });
        }
    });
</script>

{% endblock %}