<!-- Compas esta plantilla es de prueba, es sobre lo que esta trabajando Juanito pero pues de veras la necesito, chau. -->
<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">

<div class="home_content"> <!--1 -->
     <div class="text"><!--2 -->
          <form class="search" action="{% url 'seleccionar_curso' %}" method="POST">
               <!--para evitar que se haga un ataque a la pagina web-->
               {% csrf_token %}
               <!--este select crea un menú desplegable que permite al usuario seleccionar un curso de una lista de cursos-->
               <select type="text" class="search-bar" name="curso">
                    <option value="0">Seleccione un Curso</option>
                    {% for curso in listacursos %}
                    <option value="{{curso.id}}">{{curso.nombre_curso}}</option>
                    {% endfor %}
               </select>
               <button style="width: auto;" >Buscar</button>
          </form>
     </div><!--2 -->
</div><!--1 -->

          {% endblock %}