<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">
<style>
    #tabla>div>form>ul,
    .helptext {
        color: #aeaeae;
        border-radius: 25px;
        font-weight: 400;
        font-size: 20px;
        text-align: left;
    }

    .helptext {
        font-size: px;
        font-weight: 400;
        margin: 5px;
    }
</style>

<body>
    <!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="all">
                <div id="tabla"  class="container-fluid">
                    <div>
                        <h1>Crear Usuario </h1>
                        <form class="form" method="POST">
                            <!--es una medida de seguridad importante para proteger tu aplicación web Django contra ataques -->
                            {% csrf_token %}
                            <!--sirve para  cargar la biblioteca de etiquetas llamada "widget_tweaks"-->
                            {% load widget_tweaks %}
                            <div class="form-group">

                            </div>
                            {{ form.as_p }}
                            <button class="subir" type="submit">
                                <i class='bx bx-save'></i>
                                <span>Guardar</span>
                             </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'usuarios' %}" id="back2">
        <button class="back">
            <button class="back">
                <i class='bx bx-arrow-back'></i>
                <span>Regresar</span>
            </button>
        </button>
    </a>
</body>
{% endblock %}