<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">
<style>
    #tabla>div>form>ul,
    .helptext {
        color: #aeaeae;
        border-radius: 25px;
        font-weight: 400;
        font-size: 20px;
        text-align: left;
    }

    .helptext {
        font-size: px;
        font-weight: 400;
        margin: 5px;
    }
</style>

<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div class="all">
            <div id="tabla">
                <h1>Editar Usuario</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        
                        <div class="button-box">
                            <button class="subir" type="submit"><div class="icono">
                                <i class='bx bx-pencil'></i>
                            </div>
                            <span>
                                Editar
                            </span></button>
                        </div>                    
                </form>

            </div>
        </div>
    </div>
</div>
<a href="{% url 'usuarios' %}" id="back2">
    <button class="back">
        <div class="icon">
            <i class='bx bx-arrow-back'></i>
        </div>
        <span>
            Regresar
        </span>
    </button>
</a>
{% endblock %}