<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">

<body>
    <div class="home_content">
        <div class="text">
            <div class="all">
                <div class="tabla">
                    <!-- este div se utiliza para mostrar el nombre de una clase dentro de una página web,-->
                    <div class="titulo">
                        <h1>{{ v_clases.nombre_clase }}</h1>
                    </div>
                    <!--este div se utiliza para mostrar la descripción de una clase o elemento en una página web.-->
                    <div class="instrucciones">
                        <h2>Descripción</h2>
                        <div class="instrucciones2">
                            <p id="parrafo">{{ v_clases.descripcion_clase }}</p>
                        </div>
                    </div>
                    <!--este div se utiliza para mostrar la duración de una clase en minutos en una página web.-->
                    <div class="duracion">
                        <p>Duración: {{ v_clases.duracion_clase }} minutos</p>
                    </div>
                    <div class="contenido">
                        <h2>Contenido</h2>
                        <div class="contenido2">
                            <a href="{{ v_clases.contenido_clase }}" target="_blank">{{ v_clases.contenido_clase }}</a>
                        </div>
        
                </div>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}