<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/evaluacion.css' %}">
<div class="home_content"> <!--1 -->
     <div class="text"><!--2 -->
          <h1>{{nombre_curso}}</h1>
          <ul style="margin-left: 50px;">
               {% for clase in listaclases %}
               <li>
                    {% if clase.tipo == 'evaluacion' %}
                         <a href="#">{{ clase.titulo }}</a>        
                    {% else %}
                              {% if clase.tipo == 'modulo' %}
                                   {{ clase.titulo }}
                              {% else %}
                                   {% if clase.disponible %}
                                        <a href="{% url 'ejecutar_clase' clase_id=clase.id %}">{{ clase.titulo }}</a>
                                   {% else %}
                                        {{ clase.titulo }}
                                   {% endif %}
                              {% endif %}
                    {% endif %}
               </li>
               
               
               {% endfor %}
          </ul>
     </div><!--2 -->
</div><!--1 -->
     

{% endblock %}