<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Curso.css' %}">
<!--se utiliza para cargar una hoja de estilo CSS llamada 'Curso.css' en una página web. -->

<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div id="contenedor">
        <h1> Listar Usuarios </h1>
        <br>
        <form class="search" action="{% url 'filtrar_usuarios' %}" method="GET">
            <input type="text" class="search-bar" name="search" placeholder="Buscar Usuario...">
                <button class="subir" style="border-radius:50%; width:auto; height:45px;"> <i class='bx bx-search-alt'
                style="font-size:27px; "></i></button>
            </form>
            <hr>
            <a href="{% url 'listar_usuarios' %}"><button class="subir">
                <span>Ver todos </span>
            </button></a>
        <!--esta linea nos dirije a la página que lista todos los cursos-->
        <table class="table  table-fixed">
            <thead>
                <tr style="width: 180px;" id="cabecera">
                    <th style="width: 400px;" scope="col" id="nombre">Nombre y Apellido</th>
                    <th style="width: 200px;" scope="col" id="estado">Estado</th>
                    <th style="width: 200px;" scope="col" id="visualizar">Visualizar</th>
                </tr>
            </thead>

                <tbody class="table-group-divider">
                    {% for usuario in usuarios %}
                    <tr style="width: 180px;">
                        <td style="width:400px;" id="nombre">{{ usuario.user.username }} {{ usuario.apellido }} </td>

                        {% if usuario.estadousuario %}
                        <td style="width: 200px;" id="estado"><p class='status--active'>Activo</p></td>
                        {% else %}
                        <td style="width: 200px;" id="estado"><p class='status--inactive'>Inactivo</p></td>
                        {% endif %} 
                        <!-- <td scope="row" id="contenido-tabla">{{ usuario.estadousuario }}</td> -->

                        <td style="width: 200px;" id="visualizar">                     
                            <!-- <a href="{% url 'editar_usuarios' user_id=usuario.user.id %}">
                                <button class="subir"> <span>Visualizar</span>
                                </button>
                            </a> -->
                            <a href="{% url 'perfil_usuario_detalle' user_id=usuario.id %}">
                                <button class="subir"> <span>Visualizar</span>
                                </button>
                            </a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'usuarios' %}" id="back2">
            <button class="back">
                <div class="icon">
                    <i class='bx bx-arrow-back'></i>
                </div>
                <span>
                    Regresar
                </span>
            </button>
        </a>
            
        
{% endblock %}