<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Material.css' %}">

<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div class="container2 container-fluid"><!--2 -->
        <h1> Listar Material de Apoyo </h1>
        <br>
        <form class="search" action="{% url 'filtrar_cursos_material' %}" method="GET">
            <input type="text" class="search-bar" name="search" placeholder="Buscar curso...">
            <button class="search-icon"> <i class='bx bx-search-alt'
                style="font-size:27px; "></i></button> <br>
            </form>
        
        <br>
        <!--esta linea nos dirije a la página que lista todos los cursos-->
        <a href="{% url 'Listar_cursos_material' %}">
            <button class="ver_todos">
                <span>Ver todos</span>
                <i class='bx bx-chevron-right'></i>
            </button>
        </a>

        <div class="card-container">
            
                <div class="card-container">
                    {% for curso in listarc %}
                    <div class="card">
                        <div class="folder-icon">
                            
                        </div>
                        <div class="card-content">
                            <h3>{{ curso.nombre_curso | title  }}</h3> <!-- Nombre del curso -->
                            <a href="{% url 'material_list' curso_id=curso.pk  %}" >
                                <button type="button" class="btn visualizar">Visualizar</button>
                            </a>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>

        </div>
    </div>
</div>
{% if group_name == 'administrativos' %}
<a href="{% url 'gestion_MaterialApoyo' %}" id="back2">
     <button class="back">
        <button class="back">
            <i class='bx bx-arrow-back'></i>
            <span>Regresar</span>
        </button>
    </button>   
</a>

    {% elif group_name == 'usuarios' %}
    <a href="{% url 'home' %}" id="back2">
         <button class="back">
        <button class="back">
            <i class='bx bx-arrow-back'></i>
            <span>Regresar</span>
        </button>
    </button>   
    </a>
    {% endif %}
    
{% endblock %}