<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Curso.css' %}">
<!--se utiliza para cargar una hoja de estilo CSS llamada 'Curso.css' en una página web. -->

<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content">
    <div class="text">
        <div id="contenedor">
            <h1> Listar material de apoyo </h1>
            <br>
        <form class="search" action="{% url 'filtrar_material' %}" method="GET">
            <input type="text" class="search-bar" name="search" placeholder="Buscar material...">
                <button class="subir" style="border-radius:50%; width:auto; height:45px;"> <i class='bx bx-search-alt'
                        style="font-size:27px; "></i></button>
        </form>
        <hr>
        <a href="#">
            <button class="subir">
                Ver todos
            </button>
        </a>
        
        <div class="table-responsive">
            <table class="table table-hover" id="tablam">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Visualizar</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    
                    {% for material in materiales %}
                    
                    <tr>
                        <td>{{ material.NombreMaterialApoyo }}</td>
                        <td>
                            <a href="{{ material.Archivo }}" target="_blank">
                                <button class="editar">
                                    Visualizar
                                </button>
                        </td>
                        {% if group_name == 'administrativos' %}
                        <td>
                            <a href="{% url 'editar_material' pk=material.pk %}">
                                <button class="editar">
                                    Editar
                                </button>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'Listar_cursos_material' %}" id="back2">
            <button class="back">
                <div class="icon">
                    <i class='bx bx-arrow-back'></i>
                </div>
                <span>
                    Regresar
                </span>
            </button>
        </a>
            
        
{% endblock %}