
body {
    background-color: #f4f4f4;

}
h2 {
    color: #182d34;
    width: 35vw;
    word-wrap: break-word;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#acceso_denegado {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
    max-width: 100%;
    filter: drop-shadow(18px 10px 10px rgba(0, 0, 0, 0.77))
}
.container{
    /* border: #182d34 solid 1px; */
    width: 30vw;    
}

.container img{
    margin: 0 auto;
}
