body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ecf0f3;
    overflow-y: scroll;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;

}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}

/* tabla de crear curso */
.all {
    margin: 0 auto;
    position: relative;
    width: 50vw;
    color: #f7ece1;
    padding-bottom: .5%;
    /* Agrega espacio en blanco en la parte inferior */
}

h1 {
    color: #182d34;
    width: 35vw;
    word-wrap: break-word;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    position: relative;
    top: 5px;
    left: 5px;
    transition: all 0.3s ease;
    margin: 10px;
}


input[type="checkbox"]:checked {
    background-color: #58acb4;
    border-color: #58acb4;
    color: #fff;
    transform: scale(1.2);
}

#tabla {

    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin: 50px auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Añadido para centrar el contenido de la tabla */
    overflow: auto;
    /* Agregar barra de desplazamiento si es necesario */
    height: auto;
    /* Permitir que la altura se ajuste automáticamente */

}

@media only screen and (max-width: 600px) {
    .container-fluid {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }

    body {
        overflow: auto;
    }
}

/* nombres de la tabla */
label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #182d34;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}
.back  {
    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    width: 10vw;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
}
.back span{
    transition: .4s ease-in-out all;
    position: absolute;
    right: 25%;
}
.back:hover span{
    right: 20px;
}
.back .icon{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -15px;
    transition: .4s ease-in-out all;
    opacity: 0;

}
.back:hover .icon{
    left: 10px;
    opacity: 1;
}
.subir {
    display: inline-flex;
    align-items: center;
    width: 10vw;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
}

.subir span{
    transition: .4s ease-in-out all;
    position: relative;
    right: -20%;
}
.subir:hover span{
    right: 1px;
}
.subir .icono{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 280px;
    transition: .4s ease-in-out all;
    opacity: 0;
    /* color: #000000; */

}
.subir:hover .icono{
    right:  320px;
    opacity: 1;
}

input[type="text"],
#id_duracion_evaluacion_admin,
#id_iconoCurso,
#id_duracion_clase,
#id_contenido_clase,
#id_duracion_curso,
#id_nombre_curso,
#id_nombre_evaluacion,
#id_numero_intentos,
#id_nombre_modulo,
#id_orden_clase,
#id_id_modulo,
#id_id_curso,
#id_orden_modulo,
#id_id_evaluacion,
#id_email,
#id_role,
#id_cargo,
#id_id_cargo,
#id_Archivo,
#id_password1,
#id_password2,
#id_rol {
    caret-color: #0fbf12;
    font-family: 'Lato', sans-serif;
    background: #ecf0f3;
    font-weight: 300;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    border: none;
    border-radius: 40px;
    outline: none;
    transition: all 0.3s ease;
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    width: 95%;
    padding: 10px 10px 10px 10px;
}

input[type="checkbox"] {
    border-radius: 5px;
    outline: none;
    padding: 10px;
    position: relative;
    top: 5px;
    left: 5px;
    transition: all 0.3s ease;
    width: 2vw;
    height: 2vw;
}


input[type="checkbox"]:checked {
    background-color: #58acb4;
    border-color: #58acb4;
    color: #0fbf12;
    transform: scale(1.2);
}

#id_descripcion_evaluacion {
    border-radius: 40px;

    caret-color: #0fbf12;
    font-family: 'Lato', sans-serif;
    background: #ecf0f3;
    font-weight: 300;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    position: relative;
    width: 95%;
    text-align: left;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    /* Tamaño de fuente deseado */
    text-align: left;
    overflow: auto;
    /* Agregar barra de desplazamiento si es necesario */
    height: auto;
    /* Permitir que la altura se ajuste automáticamente */
    transition: all 0.3s ease;


}

#id_respuesta_correcta {
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    /* box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff; */
    outline: none;
    padding: 10px;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}


#id_instrucciones_evaluacion,
#id_nombre_pregunta,
#id_descripcion_clase,
#id_DescripcionMaterialApoyo {
    caret-color: #0fbf12;
    font-family: 'Lato', sans-serif;
    background: #ecf0f3;
    font-weight: 300;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    padding: .5em;
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    overflow: auto;
    /* Agregar barra de desplazamiento si es necesario */
    height: auto;
    /* Permitir que la altura se ajuste automáticamente */
    font-size: 20px;
    color: #00072D;
    transition: all 0.3s ease;
    width: 95%;
    outline: none;

}



#tabla {
    animation: tabla 0.5s;
}

@keyframes tabla {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }  
}