/* desde aqui empezare desde 0 */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}

#contenedor {
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    transition: all 0.3s ease;
    width: 50vw;
    max-width: 60vw;
    margin: 5% auto;
    /* Ajusta el margen superior al 5% */
    border-radius: 20px;
    padding: 40px;
    position: relative;
    top: 5%;
    overflow: hidden;
    /* Oculta el contenido que excede el contenedor */

}


.table-responsive {
    overflow-y: auto;
    max-height: 25vh;
    /* Ajusta según tus necesidades */
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
    float: left;
    border-bottom-width: 0;
    width: 33.33%;
    /* Divide las columnas en un tercio */
}


.search-bar {
    caret-color: #0fbf12;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #ecf0f3;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    border: none;
    border-radius: 40px;
    outline: none;
    transition: all 0.3s ease;
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    width: 50%;
    padding: 10px 10px 10px 10px;
}
.search-icon {
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.ver_todos {
    width: auto;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    display: flex;
    height:auto;
    padding: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    text-decoration: none;
}


.ver_todos>i {
    width: 30px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.ver_todos:hover>i {
    font-size: 1.2em;
    transform: translateX(5px);
}

.ver_todos:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}




.subir {
    width: 100%;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    display: flex;
    height: 3em;
    padding: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
}


.subir>i {
    width: 30px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.subir:hover>i {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.subir:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}



/* boton regresar a la pagina anterior */
.back {
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}



.back > i {

    transition: all 0.4s ease-in;
    width: 30px;
}
   
.back:hover > i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}


.status--active {
    color: #EAFEF3;
    background-color: #2ECC71;
    font-weight: 500;
    /* margin: 5px; */
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.activo{
    color: #fff6e5;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px; /* Padding a la izquierda */
    padding-right:20px; /* Padding a la derecha */
}
.inactivo{
    color: #fff6e5;
    font-weight: 500;
    font-size: 20px;
}
.visualizar{
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff6e5;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.4s linear;
}
.visualizar:hover{
    color: #fff6e5;
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}
form {
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
}

/* Agrega un margen derecho para espaciar los elementos */
form>* {
    margin-right: 10px;
    /* Ajusta el valor según tu preferencia */
}

/* Elimina el margen derecho del último elemento para evitar espacio adicional */
form>*:last-child {
    margin-right: 0;
}

/* Cambiar el color del scrollbar en el aside */
.table-responsive::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #075373;
    /* Cambiar el color del thumb en el .descripcion */
    border-radius: 6px;
}

.table-responsive::-webkit-scrollbar-trackm {
    background: transparent;
    /* Cambiar el color del track en el aside (puede ser transparente) */
    border-radius: 6px;
}
.table-2 {
    /* border: #000000 solid 1px; */
    position: relative;
    top:-32px;
}

#cabecera {
    border-bottom: 1px solid black;
    margin-bottom: -1px; /* Para superponer el borde sobre la tabla */
}
#nombre{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* 
@media screen and (max-width: 1920px) {
    #contenedor{
        width: 55vw;
        max-width: 55vw;
    }
    tbody{
        background-color: #0fbf12; 
    }
    #nombre{
        background-color: blue; 
        width: 400px !important;
    }
    
    #estado{
        background-color: red; 
        width: 170px !important;
    }

    #visualizar{
        background-color: yellow; 
        width: 170px !important;
    }
}

@media sc35reen and (max-width: 1366px) {
    #contenedor{
        width: 60vw;
        max-width: 60vw;
        height: auto;
    }
    .search-bar{
        width: 50%;
    }
    tbody{
        background-color: #8f5a5a; 
        height:150px !important;
    }
    #nombre{
        background-color: blue; 
        width: 350px !important;
    }
    
    #estado{
        background-color: red; 
        width: 150px !important;
    
    }

    #visualizar{
        background-color: yellow; 
        width: 150px !important;
    
    }

}

@media screen and (max-width:1240px){
    #contenedor{
        width: 50vw;
        max-width: 50vw;
    }
    .search-bar{
        width: 40%;
    }
    tbody{
        background-color: #bf0fb3; 
    }
    #nombre{
        background-color: blue; 
        width: 250px !important;
    }
    
    #estado{
        background-color: red; 
        width: 130px !important;
    
    }

    #visualizar{
        background-color: yellow; 
        width: 130px !important;
    }
}

@media screen and (max-width:1179px) {
    #contenedor{
        width: 50vw;
        max-width: 50vw;
    }
    .search-bar{
        width: 35%;
    }
    tbody{
        /* background-color: #0fbfaa;
        
    }
    table td{
        /* background-color: blue; 
        font-size: 16px;
    }
    #nombre{
        /* background-color: blue; 
        width: 200px !important;

    }
    
    #estado{
        /* background-color: red; 
        width: 150px !important;
    
    }

    #visualizar{
        /* background-color: yellow; 
        width: 150px !important;
    }
}
 */




/* 
.fixed-back-button .back span::before {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 500ms;
}

.fixed-back-button .back:hover span {
    padding-right: 25px;
}

.fixed-back-button .back:hover span::before {
    opacity: 1;
    right: 0;
}
 */



h1 {
    font-weight: 700;
    animation: h1 0.4s linear both
}

@keyframes h1 {
    0% {
        letter-spacing: -.2em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}


#contenedor {
    animation: contenedor 0.5s;
}


@keyframes contenedor {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}