body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f0f0b4;
    overflow-y: scroll;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;

}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}
.folder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.folder-box {
    width: 40vw;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s; 

}

.folder-icon {
    font-size: 40px;
}

.folder-box:hover{
    transform: scale(1.2);
    background-color: #e4e3e399;
}
a{
    color: black;
    text-decoration: none;
}