@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@500&display=swap'); 

h1,#sub-titulo{
font-family: 'Poppins', sans-serif;
font-weight: 500;

}

.login-icon {
    height: 7rem;
}

.username,
.password {
    height: 1rem;
}

#login {
    width: 20rem;
}

input {
    font-family: 'Lato', sans-serif;
    font-weight: 300 !important;
    width: 89%;
    background-color: #c2c2c2;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    transition: all 0.3s ease;
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}
#password1{
    width: 78%;

}

#show{
    background-color: #ecf4fc  ;
    padding: 10px;
    border: none;
    border-radius:0 10px 10px 0;
}
#id_username,
#id_password {
    border: none;
    border: 2px solid gray;
    outline: none;
    border-left: none;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.subir {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #2b464e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.subir:hover {
    background-color: #8fccd1;
    color: #182d34;
    transition: .5s;
    transform: scale(1.2);
}

.btn-login {
    background-color: #2b464e !important;
}


@media screen and (max-width: 768px) {
    input{
        width: 64vw;
    }
    #password1{
        width: 53vw;
    }

    #form-login{
        border: 1px solid blue;
    }
}

@media screen and (max-width: 1024) {
    input{
        width: 64vw;
    }
    #password1{
        width: 53vw;
    }

    #form-login{
        border: 1px solid blue;
    }
    
}
