body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f0f0b4;
    /* overflow-y: hidden; */
    overflow-y: scroll;


}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}

/* Estilo para la tarjeta de cursos */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* Centra horizontalmente las tarjetas */
    margin: 0 auto;
    /* Centra horizontalmente el contenedor */
    max-width: 1200px;
    /* Establece un ancho máximo para las tarjetas */
    /* overflow-y: scroll; */

}


.card {
    /* background-image: linear-gradient(135deg, #31636d 0%,#182d34 100%); */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    /* Alinea el contenido al centro */
    margin: 10px;
    /* Añade márgenes para separar las tarjetas */
}

/* Estilo para los botones */


/* Estilo para el icono de carpeta */
.folder-icon {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin: 0 auto 10px;
    /* Centra verticalmente y agrega espacio en la parte inferior */
}

.folder-icon::before {
    content: "\1F4C1";
    /* Unicode para el ícono de carpeta */
    font-size: 30px;
    line-height: 50px;
}

/* Estilo para los enlaces de visualizar */


/*Filtrar cursos*/
input[type="text"],
#id_duracion_curso,
#id_iconoCurso,
#id_numero_intentos,
#id_instrucciones_evaluacion {
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    /* box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff; */
    outline: none;
    padding: 10px;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.search-bar {
    caret-color: #0fbf12;
    font-family: 'Lato', sans-serif;
    background: #ecf0f3;
    font-weight: 300;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    border: none;
    border-radius: 40px;
    outline: none;
    transition: all 0.3s ease;
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    width: 30%;
    padding: 10px 10px 10px 10px;
}

.subir {
    width: 100%;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    display: flex;
    height: 3em;
    padding: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
}


.subir>i {
    width: 30px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.subir:hover>i {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.subir:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}



/* boton regresar a la pagina anterior */
.back {
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}



.back > i {

    transition: all 0.4s ease-in;
    width: 30px;
}
   
.back:hover > i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}




.visualizar{
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff6e5;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.4s linear;
    margin: 10px;
}
.visualizar:hover{
    color: #fff6e5;
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}

.search-icon {
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.ver_todos {
    width: auto;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    display: flex;
    height:auto;
    padding: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    text-decoration: none;
}


.ver_todos>i {
    width: 30px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.ver_todos:hover>i {
    font-size: 1.2em;
    transform: translateX(5px);
}

.ver_todos:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}


form{
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    
}
/* Agrega un margen derecho para espaciar los elementos */
form > * {
    margin-right: 10px; /* Ajusta el valor según tu preferencia */
}

/* Elimina el margen derecho del último elemento para evitar espacio adicional */
form > *:last-child {
    margin-right: 0;
}

.card-container {
    animation: card-container 0.8s;
}

@keyframes card-container {
    0% {
        transform: scale(.5);
        transform-origin: left center
    }

    100% {
        transform: scale(1);
        transform-origin: left center
    }
}

.container2{
    /* border: solid 1px red; */
    width: 80vw;
    margin: 5%  auto;
    padding: 10px;
    position: relative;
    top: 10%;
}