@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ecf0f3;
    overflow-y: scroll;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 30px auto;

}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas con igual ancho */
    gap: 30px;
    /* Espaciado entre las celdas */
    padding: 20px;
    width: 75vw;
    height: 30vw !important;
    margin: 0 auto;
}

.column {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* Dos filas con igual altura */
    gap: 30px;
    /* Espaciado entre las celdas */

}

.column-single {
    background-color: #ecf0f3;
    overflow: auto;
    height: 73vh;
}

.icono-curso {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.row {
    padding: 0;
    width: 38vw;
    height: 39vh;
    border-radius: 10px;
}

.descripcion {
    overflow-x: hidden;
    width: 37vw;
    height: 30vh;
    border-radius: 10px;
    padding: 0px 0px 5px 5px;
    background-color: #b6edff;
    font-family: 'Lato', 'sans-serif';
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Estilo adicional para hacerlo más atractivo visualmente */
.row,
.descripcion,
.column-single {
    text-align: balance;

}

.clases {
    background: #dfdfdf;
}

.modulo-titulo {
    color: #fff;
    background-color: #182d34;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.modulo-titulo h1 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 23px;

}

.modulos {
margin-bottom: 50px !important;
    height: auto;
}

a {
    text-decoration: none;
}

.contenido-clases h3 {
    font-size: 20px;
    color: #363636;
    padding: 5px 10px;
    align-items: balance;
    padding: 7px;

}


.contenido-clases {
    padding: 7px;
    margin-top: -10px;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    transition: background-color .2s;

}

.contenido-clases:hover {
    background-color: #bbbbbb;
    color: #ededed !important;
    ;

}

.contenido-clases-invalida h3 {
    font-size: 20px;
    color: #454545;
    padding: 5px 10px;
    align-items: balance;
    padding: 7px;
    cursor: not-allowed !important;
}


.contenido-clases-invalida {
    padding: 7px;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    transition: background-color .2s;
    background-color: #7b7b7b;

}

.evaluacion {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    align-items: balance;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .2s;
    background-color: #2a4f5c;
    width: 100%;

}

.evaluacion h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: balance;

}

.evaluacion:hover {
    background-color: #3692a4;
    border: #182d34 1px solid;
    color: #ededed;
    border-radius: 10px;
    transform: font-weight 0.2s;
}

.evaluacion-invalida {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    align-items: balance;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .2s;
    background-color: #2a4f5c;
    width: 100%;
    cursor: not-allowed !important;
}

.evaluacion-invalida h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: balance;

}


/* Cambiar el color del scrollbar en el aside */
.column-single::-webkit-scrollbar,
.descripcion::-webkit-scrollbar {
    width: 8px;
}

.column-single::-webkit-scrollbar-thumb,
.descripcion::-webkit-scrollbar-thumb {
    background: #075373;
    /* Cambiar el color del thumb en el .column-single */
    border-radius: 6px;
}

.column-single::-webkit-scrollbar-trackm,
.descripcion::-webkit-scrollbar-trackm {
    background: transparent;
    /* Cambiar el color del track en el aside (puede ser transparente) */
    border-radius: 3px;
}

/* boton regresar a la pagina anterior */
.back {
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}



.back>i {

    transition: all 0.4s ease-in;
    width: 30px;
}

.back:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}

@media (max-width: 768px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        overflow-y: scroll;
    }

    .row,
    .column-single {
        width: 100%;
        height: 100%;
    }
}



/* para la evaluacion */
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* O ajusta la altura según tus necesidades */
}


.card {
    
    width: 45vw;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
  }
  
  .header  {
    background-color: #182d34;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
  }
  .header h1{
    /* border: 1px solid #ff0000;  */
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;

  }
  
  .body {
    padding: 20px;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #333;
    font-size: 1.5rem;
    padding-left: 15px;
    font-family: 'Latto', sans-serif;
    font-weight: 500;
  }
  a{
    text-decoration: none;
  }
  .clase-view {
    display: flex;
    height: 3em;
    width: 200px;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: auto; /* Alinea el botón a la derecha */
}

  .clase-view>i {
    transition: all 0.4s ease-in;
    width: 30px;
}

.clase-view:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.clase-view:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}



/* boton regresar a la pagina anterior */
.back {
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}



.back>i {

    transition: all 0.4s ease-in;
    width: 30px;
}

.back:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}
