@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ecf0f3;
    overflow-y: scroll;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 30px auto;

}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas con igual ancho */
    gap: 30px;
    /* Espaciado entre las celdas */
    padding: 20px;
    width: 75vw;
    height: 30vw !important;
    margin: 0 auto;
}

.column {
    display: grid;
    grid-template-img_contents: repeat(2, 1fr);
    /* Dos filas con igual altura */
    gap: 30px;
    /* Espaciado entre las celdas */

}

.column-single {
    background-color: #ecf0f3;
    overflow: auto;
    height: 73vh;
}

.icono-curso {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}



.img_content {
    position: relative;
    width: 38vw;
    height: 35vh;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #182d34;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  .img_content img {
    width: 100%;
    height: 100%;
  }
  
  .img_content:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
.descripcion {
    width: 38vw;
    height: 35vh;
    margin: 0 auto;
    background-color: #f4f4f3;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}


.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #182d34;
}
.title {
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 20px;
}

.circle {
    padding: 0 4px;
}

.descripcion__content {
    height: 100%;
    margin: 10px;
    border-radius: 8px;
    background: #f4f4f3;
    overflow-x: hidden;
    padding: 10px;
    
}


.content {
    font-size: 20px;
    font-family: 'Latto', sans-serif;
    font-weight: 500;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}


/* Estilo adicional para hacerlo más atractivo visualmente */
.img_content,
.descripcion,
.column-single {
    text-align: balance;

}

.clases {
    background: #dfdfdf;
}

.modulo-titulo {
    color: #fff;
    background-color: #182d34;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.modulo-titulo h1 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 23px;

}

.modulos {
    margin-bottom: 50px !important;
    height: auto;
}

a {
    text-decoration: none;
}

.contenido-clases h3 {
    font-size: 20px;
    color: #363636;
    padding: 5px 10px;
    align-items: balance;
    padding: 7px;

}


.contenido-clases {
    padding: 7px;
    margin-top: -10px;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    transition: background-color .2s;

}

.contenido-clases:hover {
    background-color: #bbbbbb;
    color: #ededed !important;
    ;

}

.contenido-clases-invalida h3 {
    font-size: 20px;
    color: #454545;
    padding: 5px 10px;
    align-items: balance;
    padding: 7px;
    cursor: not-allowed !important;
}


.contenido-clases-invalida {
    padding: 7px;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    transition: background-color .2s;
    background-color: #7b7b7b;

}

.evaluacion {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    align-items: balance;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .2s;
    background-color: #2a4f5c;
    width: 100%;

}

.evaluacion h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: balance;

}

.evaluacion:hover {
    background-color: #3692a4;
    border: #182d34 1px solid;
    color: #ededed;
    border-radius: 10px;
    transform: font-weight 0.2s;
}

.evaluacion-invalida {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    border-bottom: 1px solid rgba(162, 161, 165, .4);
    justify-content: space-between;
    align-items: balance;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .2s;
    background-color: #2a4f5c;
    width: 100%;
    cursor: not-allowed !important;
}

.evaluacion-invalida h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: balance;

}


/* Cambiar el color del scrollbar en el aside */
.column-single::-webkit-scrollbar,
.descripcion__content::-webkit-scrollbar {
    width: 8px;
}

.column-single::-webkit-scrollbar-thumb,
.descripcion__content::-webkit-scrollbar-thumb {
    background: #075373;
    /* Cambiar el color del thumb en el .column-single */
    border-radius: 6px;
}

.column-single::-webkit-scrollbar-trackm,
.descripcion__content::-webkit-scrollbar-trackm {
    background: transparent;
    /* Cambiar el color del track en el aside (puede ser transparente) */
    border-radius: 3px;
}

/* boton regresar a la pagina anterior */
.back {
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}



.back>i {

    transition: all 0.4s ease-in;
    width: 30px;
}

.back:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}

@media (max-width: 768px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        overflow-y: scroll;
    }

    .img_content,
    .column-single {
        width: 100%;
        height: 100%;
    }
}



/* *************************************** para la evaluacion ******************************************************/
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* O ajusta la altura según tus necesidades */
}


.card {

    width: 60vw;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
}

.header {
    background-color: #182d34;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}

.header h1 {
    /* border: 1px solid #ff0000;  */
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;

}

.body {
    padding: 25px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message {
    margin-top: 0.5rem;
    color: #333;
    font-size: 20px;
    padding-left: 25px;
    font-family: 'Latto', sans-serif;
    font-weight: 500;
}

.body h2 {
    font-size: 25px;
}

a {
    text-decoration: none;
}

/* .button{
    border: solid red 1px;
  } */
.subir {
    display: flex;
    padding: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: auto;
    /* Alinea el botón a la derecha */
    /* margin-right: 50px; */
    /* margin-bottom: 150px; */
}

.subir>i {
    transition: all 0.4s ease-in;
    width: 30px;
}

.subir:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.subir:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}

@media (max-width: 1400px) {
    .body {
        overflow: auto;
    }
}

/* ***********************************************preguntas*********************************************** */
body {
    background-color: #ecf0f3;
}


.pregunta-card {
    border-radius: 15px;
    width: 75vw;
    min-height: 70vh;
    background-color: #fff;
    box-shadow: 10px 10px #182d34;
    border: 3px solid #182d34;
    margin: 13vh auto;
    padding: 20px;
}

.pregunta-title {
    font-weight: bold;
    color: #182d34;
    width: 100%;
}

.pregunta-title h1 {
    margin: 20px;
    padding: auto;
}

.contenido-preguntas {
    height: 70vh;
    /* background-color: blue; */
    height: 100% !important;
}

.pregunta {
    height: 70vh;
    background-color: #ff0000;
    padding: 12px;
    display: flex;
    flex-direction: img_content;
    align-items: center;
    justify-content: start;
    background: #D7F1FD;
    border-radius: 8px;
    border: 1px solid #509AF8;
    box-shadow: 0px 0px 5px -3px #111;
    margin: 25px;
    cursor: pointer;
    color: #0C2A75;
    height: auto !important;
}

.opciones {
    font-weight: 500;
    font-size: 20px;
}

.button-next {
    display: flex;
    height: 2.5em;
    width: auto;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    transition: all ease-in-out 0.5s;
}

.button-next:hover {
    background-color: #182d34;
    color: #fff;
    border: #182d34;

}

.button-next:active {
    font-weight: 100;
}


.pregunta input[type="radio"] {
    /* display: none;  */
}

.pregunta.clicked {
    background-color: #4CAF50;
    /* Cambia el color de fondo al hacer clic */
    color: #fff;
    /* Cambia el color del texto al hacer clic */
}


/**************** para el mensaje de paso o no paso la evaluacion********************* */
.intentalo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d70000;
    width: 45vw;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.congratulations {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008000;
    width: 45vw;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}



.boton-reintentar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e27c00;
    width: 20vw;
    height: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.boton-reintentar>i {
    transition: all 0.4s ease-in;
    width: 30px;
}

.boton-reintentar:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.boton-reintentar:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}