body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f0f0b4;
    overflow-x: none;
    overflow-y: none;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}

/* estulos para article, que es donde va a ir la material visual */
article {
    /* border: solid 2px red; */
    width: 50vw;
    height: 50vh;
    margin: 30px;
}

#imagen-curso {
    width: 100%;
    height: 100%;
    margin: 0;
    /* Eliminar el margen por defecto de la imagen */
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);

}

/* estilos para section que es donde va a ir la descripcion del modulo */
.descripcion {
    overflow-x: hidden;
    height: 17vh;
    padding: 0px 0px 5px 5px;
    background-color: #b6edff;
    border-radius: 10px;
    border: 1px solid #075373;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
}
.descripcion p{
    font-family: 400 italic;
    font-size: 20px;
}

/* Cambiar el color del scrollbar en el aside */
.descripcion::-webkit-scrollbar,
aside::-webkit-scrollbar {
    width: 12px;
}

.descripcion::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb {
    background: #075373;
    /* Cambiar el color del thumb en el .descripcion */
    border-radius: 6px;
}

.descripcion::-webkit-scrollbar-trackm,
aside::-webkit-scrollbar-track {
    background: transparent;
    /* Cambiar el color del track en el aside (puede ser transparente) */
    border-radius: 6px;
}

/* estilos para el aside que va a contener las clases enlazadas a ese modulo */
.container {
    align-items: center;

}

aside {
    border-radius: 10px;
    width: 35vw;
    height: 70vh;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
    /* background-image: linear-gradient(135deg, #31636d 0%,#182d34 100%); */
    background-image: linear-gradient(135deg, #0079aa 0%, #0079aa 100%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);

}
.clases h3{
    font-family: 400 italic;
    font-size: 20px;
}
.clases {
    font-size: 10px;
    /* background-color: #bde2e4; */
    background-color: #fffefb;
    height: 80px;
    padding: 5px 0px 0px 5px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    /* Centra verticalmente el contenido */

}

.clases-invalida {
    border: 1px solid #313d44;
    background-color: #1d1c1c;
    /* background-image: linear-gradient(45deg, #1d1c1c 25%, transparent 25%, transparent 50%, #1d1c1c 50%, #1d1c1c 75%, transparent 75%, transparent);     */
    /* border:1px solid #8fccd1;
    background-image: linear-gradient(45deg, #367984 25%, transparent 25%, transparent 50%, #367984 50%, #367984 75%, transparent 75%, transparent); */
    background-size: 10px 10px;
    /* Ajusta el tamaño de las rayas para hacerlas más delgadas */
    height: 80px;
    padding: 10px 0px 0px 10px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente el contenido */
    justify-content: center;
    /* Centra verticalmente el contenido */

}

.clases-invalida h3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Coloca los elementos uno encima del otro */
    align-items: center;
    /* Centra vertical y horizontalmente los elementos */
    width: 50%;
    /* color: #8fccd1; */
    color: #71c4ef;
    font-family: 400 italic;
    font-size: 20px;
}

.clases-invalida i {
    color: #71c4ef;
    /* color: #8fccd1; */
    font-size: 30px;
    /* Ajusta el tamaño del icono según tus necesidades */
    margin: 0px 10px 0px 0px;
}


.flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

h2 {
    /* border: solid 2px black; */
    margin: 10px 10px 10px 10px;

}

button {
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color:#8fccd1;
    color: #182d34;   
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

}

button:hover {
    background-color: #2b464e;
    color: #bde2e4;
    transition: .5s;
    transform: scale(1.2);
}

.back {
    position: fixed;
    /* Fija el botón en su posición */
    top: 5%;
    /* Distancia desde la parte superior en porcentaje */
    right: 5%;
    /* Distancia desde la derecha en porcentaje */
    width: 15vw;
    /* Ancho del botón */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back a {
    color: #bde2e4;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back:hover {
    background-color: #2b464e;
    transition: .5s;
    transform: scale(1.2);
}

.back:hover a {
    color: #bde2e4;
}


h1 {
    animation: h1 0.4s linear both;
}

@keyframes h1 {
    0% {
        letter-spacing: -.2em;
        transform: translateZ(-700px) translateY(-100px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1
    }
}



h2 {
    animation: h2 0.4s linear both
}

@keyframes h2 {
    0% {
        letter-spacing: -.2em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}


article {
    animation: article 0.4s;
}

@keyframes article {
    0% {
        transform: scale(.5);
        transform-origin: left center
    }

    100% {
        transform: scale(1);
        transform-origin: left center
    }
}



aside {
    animation: aside 0.4s;
}

@keyframes aside {
    0% {
        transform: scale(.5);
        transform-origin: right center
    }

    100% {
        transform: scale(1);
        transform-origin: right center
    }
}