/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Lora:ital@0;1&display=swap');
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lora', serif;
}
/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}
.parent {
    position: relative;
    width: 80vw;
    height: auto;
    background-color: #fff;
    margin: auto;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    display: flex;
}

.content {
    background-color: #fff;
    border-radius: 10px;
    /* border: 1px solid blue; */
    flex: 1; /* Aprovecha el espacio disponible en el contenedor */
    padding: 10px; /* Espacio interno */
    column-count: 2; /* Divide el contenido en dos columnas */
    column-gap: 20px; /* Espacio entre columnas */
    /* height: 35vh;
    position: relative;
    top:8vh; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.tittle {
    text-align: center;
    font-size: 15px;
    margin: 10px;
    font-weight: 700;
    grid-column: span 2;
}
#img-user {
    width: 17vw;
    height: 35vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    float: left;
    margin: 10px;
}


.nombre, .tiempo-interaccion, .correo, .telefono, .direccion, .cargo ,.edad, .cursos{
    /* display: flex;
    flex-direction: column;
    margin: 10px; */
    text-align: left;
    font-weight: 700;
    font-size: 15px;
}

#name, #time, #email, #phone, #address, #position, #age, #courses{

    text-align: left;
    margin: 5px;
    font-weight: 200;
    font-size: 20px;
}
