.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* O ajusta la altura según tus necesidades */
}


.card {
    
    width: 45vw;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
  }
  
  .header  {
    background-color: #182d34;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
    width: 100%;
  }
  h1{
    border: 1px solid #ff0000; 
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .body {
    padding: 20px;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #333;
    font-size: 1.5rem;
    padding-left: 15px;
    font-family: 'Latto', sans-serif;
    font-weight: 500;
  }
  a{
    text-decoration: none;
  }
  .clase-view {
    display: flex;
    height: 3em;
    width: 200px;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: auto; /* Alinea el botón a la derecha */
}

  .clase-view>i {
    transition: all 0.4s ease-in;
    width: 30px;
}

.clase-view:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.clase-view:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}



/* boton regresar a la pagina anterior */
.back {
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}



.back>i {

    transition: all 0.4s ease-in;
    width: 30px;
}

.back:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}
