@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ecf0f3;
    overflow-y: scroll;

}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    background-color: white;
    width: 45vw;
    height: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1),
        0 2px 4px -2px rgba(0, 0, 0, .1);
    margin: 0 auto;
}

.header {
    position: relative;
    background-clip: border-box;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    background-color: #4ca2cb;
    box-shadow: 0 10px 15px -3px rgba(33, 150, 243, .4), 0 4px 6px -4px rgba(33, 150, 243, .4);
    height: auto;

}

.header h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255 255 255);
    font-weight: 500;
    text-align: center;
    padding: 1rem;

}

.info {
    border: none;
    padding: 1.5rem;
    text-align: center;
}

.title {
    color: rgb(38 50 56);
    letter-spacing: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.375;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.footer {
    padding: 1rem;
    border: 1px solid rgb(236 239 241);
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: rgba(0, 140, 255, 0.082);
}
/* .footer .subir{
position: relative;
left: 0;
} */
.tag {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    font-weight: bold;
}
a{
    text-decoration: none;
}

.subir {
    width: 100%;
    font-size: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
}


.subir>i {
    width: 30px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.subir:hover>i {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.subir:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}
.back {
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}



.back>i {

    transition: all 0.4s ease-in;
    width: 30px;
}

.back:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}

.back1 {
    align-items: center;
    position: fixed;
    top: 15%;
    right: 5%;
    display: flex;
    height: 3em;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.4s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    transition: all 0.4s ease-in;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}



.back1>i {

    transition: all 0.4s ease-in;
    width: 30px;
}

.back1:hover>i {
    font-weight: bold;
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back1:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}