
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f0f0b4;
    overflow-y: scroll;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;

}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}

.all {
    margin: 0 auto;
    width: 40vw;
    color: #f7ece1;
    height: auto;
    position: relative;
}


h2 {
    position: relative;
    width: 95%;
    text-align: left;
    display: inline-block;
    font-size: 25px;
}
h1 {
    width: 35vw;
    word-wrap:break-word;
    font-weight: 700;
}
.tabla {
    color: #182d34;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin: 50px auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Añadido para centrar el contenido de la tabla */
    overflow: auto;
    /* Agregar barra de desplazamiento si es necesario */
    height: auto;
    /* Permitir que la altura se ajuste automáticamente */
}

.respuesta_a,
.respuesta_b,
.respuesta_c,
.respuesta_d {
    background-color: #eeeeee;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 1rem;
    display: inline-block;
    overflow: auto;
    height: auto;
    width: auto;
    font-weight: 200;

}

p {
    color: #333;
    font-size: 23px;
    text-align: start;
    padding: 1rem;
    margin: 0;
    font-weight: bold;
}




.back  {
    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 5%;
    right: 5%;
    width: 10vw;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
}
.back span{
    transition: .4s ease-in-out all;
    position: absolute;
    right: 25%;
}
.back:hover span{
    right: 20px;
}
.back .icon{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -15px;
    transition: .4s ease-in-out all;
    opacity: 0;

}
.back:hover .icon{
    left: 10px;
    opacity: 1;
}
.subir {
    display: inline-flex;
    align-items: center;
    width: 10vw;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
}

.subir span{
    transition: .4s ease-in-out all;
    position: relative;
    right: -20%;
}
.subir:hover span{
    right: 1px;
}
.subir .icono{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 200px;
    transition: .4s ease-in-out all;
    opacity: 0;
    /* color: #000000; */

}
.subir:hover .icono{
    right:  240px;
    opacity: 1;
}

.correct {
    background-color: green; /* O cualquier otro estilo que desees */
    color: white;
    font-weight: bold;
}
.correct p{
    color: white;
}