<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">
{% comment %} <script src="{% static 'js/alertas.js' %}"></script> {% endcomment %}


<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div class="all">
            <div class="tabla">
                <h1>Editar CURSO</h1>
                {% csrf_token %}
                <!--#enctype="multipart/form-data" Esto es esencial para que los archivos, como las imágenes, se puedan cargar correctamente.-->
                <form method="post" enctype="multipart/form-data" id="editarForm">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                        {% if icono_url %}
                            <img src="{{ icono_url }}" width="700vw" height="550vh" alt="Curso Image">
                        {% endif %}
                    </div>
                    <div class="button-box">
                        <button class="subir" type="submit"><span>Editar </span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--nos dirije  a la URL correspondiente a la vista llamada 'cursos' -->
<a href="{% url 'ver_cursos' curso_id=curso_id %}"> 
    <button class="back">
        <div class="icon">
            <i class='bx bx-arrow-back'></i>
        </div>
        <span>
            Regresar
        </span>
    </button>
</a>
{% endblock %}