{% extends 'Layout/Base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">

<body>
    <div class="home_content">
        <div class="text">
            <div class="all">
                <div class="tabla">
                    <div class="titulo">
                        <h1>{{ v_cursos.nombre_curso }}</h1>
                    </div>
                    <div class="descripcion">
                        <img src="{{ v_cursos.iconoCurso.url }}" width="700vw" height="550vh" alt="Curso Image">
                    </div>  
                    <div class="instrucciones">
                        <h2>Descripción</h2>
                        <div class="instrucciones2">
                            <p id="parrafo">{{ v_cursos.descripcion_curso }}</p>
                        </div>
                    </div> 
                    <div class="duracion">
                        <p>Duración: {{ v_cursos.duracion_curso }} minutos</p>
                    </div>

                    <div class="button">
                        <a href="{% url 'editar_cursos' v_cursos.id %}"> 
                            <button type="button" class="start">Editar</button>
                        </a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'listar_evaluacion' %}" id="back2">
        <div>
            <button class="back">Regresar</button>
        </div>
    </a>
</body>
{% endblock %}