<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!-- crea una barra lateral en una página web que incluye un logotipo y un posible botón de menú representado por un icono.-->
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <img src="{% static 'img/Cyres.png' %}" alt="logo" id="iconCyres">
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <!-- representa un elemento de menú en un menú de navegación que enlaza a la página de inicio del sitio web.-->
        <li>
            <a href="{% url 'home' %}">
                <i class='bx bx-home'></i>
                <span class="links_name">Inicio </span>
            </a>
            <span class="tooltip">Inicio</span>
        </li>
        <!--representa un elemento de menú en un menú de navegación que enlaza a la página de gestión de cursos en el sitio web. -->
        <li>
            <a href="{% url 'cursos' %}">
                <i class='bx bx-book'></i>
                <span class="links_name">Gestion Cursos </span>
            </a>
            <span class="tooltip">Gestion Cursos</span>
        </li>
        
        <!--representa un elemento de menu en un menu de navegacion que enlaza a la pagina de gestion de modulos en el sitio web.-->
        <li>
            <a href="{% url 'modulos' %}">
                <i class='bx bx-calendar-plus'></i>
                <span class="links_name">Gestion Modulos </span>
            </a>
            <span class="tooltip">Gestion Modulos</span>
        </li>
        <!--representa un elemento de menu en un menu de navegacion que enlaza a la paguina de gestion de clase en el sitio web. -->
        <li>
            <a href="{% url 'clase' %}">
                <i class='bx bx-book-add'></i>
                <span class="links_name">Gestion Clases </span>
            </a>
            <span class="tooltip">Gestion Clases</span>
        </li>
        <!--representa un elemento de menu en un menu de navegacion que enlaza a la pagina de gestion de evalucion en el sitio web. -->
        <li>
            <a href="{% url 'evaluacion' %}">
                <i class='bx bx-file'></i>
                <span class="links_name">Gestion Evaluación </span>
            </a>
            <span class="tooltip">Gestion Evaluación</span>
        </li>
        <!--representa un elemento de menú en un menú de navegación que no enlaza a una página específica-->
        <li>
            <a href="#">
                <i class='bx bx-badge-check'></i>
                <span class="links_name">Certificación </span>
            </a>
            <span class="tooltip">Certificación</span>
        </li>
        <!--representa un elemento de menu en un menu de navegacion que enlaza a la pagina de material de apoyo en el sitio web. -->
        <li>
            <a href="{% url 'Listar_cursos_material' %}">
                <i class='bx bxs-folder-open'></i>
                <span class="links_name">Material de apoyo </span>
            </a>
            <span class="tooltip">Material de apoyo</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="{% static 'img/iconos/profile2.jpg' %}" alt="">
                <div class="name_job">
                    <div class="name">{{ user.username | title }}</div>
                    <div class="job">{{ user.cargo }} 
                    </div>
                </div>
            </div>
            <a href="{% url 'exit'%}" id="log_out">
            <i class='bx bx-log-out' >
            </i></a>
        </div>
    </div>
</div>

<script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");

    btn.onclick = function () {
        sidebar.classList.toggle("active");
    }
</script>