<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %} 
<!--es un bloqueo de contenido -->
{% block content %}

<link rel="stylesheet" href="{% static 'Css/evaluacion.css' %}">



<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="container-fluid">
                <div class="folder-container">
                            <h1 style="text-align:center;">Gestion Clases</h1>
                            <!--se esta enlazando la url de 'crear_clases'-->
                            <a href="{% url 'crear_clases' %}" class="folder-box"> <i class='bx bx-book-add'></i>
                            <div >
                                <p>Crear Clases</p>
                            </div>
                        </a>
                        <!--se esta enlazando la url de 'listar_clase' -->
                            <a href="{% url 'listar_clases' %}" class="folder-box"> <i class='bx bx-list-ul' ></i>
                            <div >
                                <p>Listar Clases</p>
                            </div>
                        </a>
                        </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}