{% extends 'Layout/Base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Curso.css' %}">
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">

<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="container-fluid">
                <div class="row" id="tabla">
                    <div>
                        <h1>Crear Clases </h1>
                        <div class="form">
							<form method="post">
                                {% csrf_token %}
								{% load widget_tweaks %}
								<div class="form-group">


								</div>
                                {{ form.as_p }}
                                
								<button type="submit" >Guardar</button>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="back2">
		<button  class="back"><a href="{% url 'clase' %}">Regresar</a></button>
	</div>
</body>
{% endblock %}