<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Curso.css' %}">
<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div id="contenedor">
            <h1> Listado de Clases</h1>
            <form class="search" action="{% url 'filtrar_clases' %}" method="GET">
                <input type="text" class="search-bar" name="search" placeholder="Buscar Clases...">
                <button class="subir" style="border-radius:50%; width:auto; height:45px;"> <i class='bx bx-search-alt'
                    style="font-size:27px; "></i></button>
                <a href="{% url 'listar_clases' %}"><button class="subir">
                    <span>Ver todos </span>
                </button> </a>
            </form>
            <br>
            <!--esta linea nos dirije a la página que lista todos los cursos-->
            <table class="table table-fixed">
                <thead>
                    <tr style="width: 180px;" id="cabecera">
                        <th style="width: 400px;" scope="col" id="nombre">Nombre</th>
                        <th style="width: 200px;" scope="col" id="estado">Estado</th>
                        <th style="width: 200px;" scope="col" id="visualizar">Visualizar</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for clase in listarclases %}<!--indica que se va a iniciar un bucle-->
                    <tr style="width: 180px;">
                        <!-- Esta líneas definen las celdas de datos de la tabla-->
                        <td style="width:400px;" id="nombre">{{clase.nombre_clase | title}}</td>
                        {% if clase.estado_clase %}<!--Estas líneas verifican si el atributo -->
                        <td style="width: 200px;" id="estado">
                            <p class='status--active'>Activo</p>
                        </td>
                        </td>
                        {% else %}
                        <td style="width: 200px;" id="estado">
                            <p class='status--inactive'>Inactivo</p>
                        </td>
                        {% endif %}
                        <td style="width: 200px;" id="visualizar">
                            <a href="{% url 'ver_clases' clase.id %}">
                                <button class="subir"> <span>Visualizar</span>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="{% url 'clase' %}" id="back2">
    <div>
        <button class="back">Regresar</button>
    </div>
</a>
{% endblock %}