{% extends 'Layout/Base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">
{% comment %} <script src="{% static 'js/alertas.js' %}"></script> {% endcomment %}


<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div class="all">
            <div class="tabla">
                <h1>Editar Clases</h1>
                {% csrf_token %}
                <form method="post" id="editarForm">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.nombre_modulo.label_tag }}
                        {{ form.nombre_modulo }}
                        {{ form }}
                    </div>
                    <button type="submit" >Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'ver_clases' clase_id=clase_id %}" id="back2">
    <button class="back">Regresar a Ver Clases</button>
</a>


{% endblock %} 