<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">
<link rel="stylesheet" href="{% static 'Css/C_Evaluacion.css' %}">


<!-- todo lo que se vaya a colocar en los html's deben ir adentro de esto -->
<div class="home_content"> <!--1 -->
    <div class="text"><!--2 -->
        <div class="all">
            <div class="tabla">
                <h1>Editar Evaluación </h1>
                <!--es una medida de seguridad importante para proteger tu aplicación web Django contra ataques -->
                {% csrf_token %}
                <form method="post">
                    <!--es una medida de seguridad importante para proteger tu aplicación web Django contra ataques -->
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <button type="submit" class="subir" >Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'ver_evaluacion_detalle' evaluacion_id=evaluacion_id %}" ><!--nos dirije  a la URL correspondiente a la vista llamada 'listar_evaluacion' -->
		<button  class="back">Regresar</button>
</a>
{% endblock %}