{% extends 'Layout/Base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'Css/evaluacion.css' %}">



<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="container-fluid">
                <div class="row" id="tabla">
                    <div>
                        <h1 style="text-align:center;">Gestion evaluacion</h1>
                        <div class="folder-container">
                            <a href="{% url 'crear_evaluacion' %}" class="folder-box"> <i
                                    class="bx bx-folder folder-icon"></i>
                                <div>
                                    <p>Crear Evaluación</p>
                                </div>
                            </a>
                            <a href="{% url 'crear_pregunta' %}" class="folder-box">
                                <div>
                                    <i class="bx bx-folder folder-icon"></i>
                                    <p>Crear Preguntas</p>
                                </div>
                            </a>
                            <a href="{% url 'listar_evaluacion' %}" class="folder-box"> <i
                                    class="bx bx-folder folder-icon"></i>
                                <div>
                                    <p>Listar Evaluaciones</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}