{% extends 'Layout/Base.html' %}<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% load static %}<!--para cargar los archivos estaticos en la platilla-->
{% block content %}<!--es un bloqueo de contenido -->

<link rel="stylesheet" href="{% static 'Css/evaluacion.css' %}">



<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="container-fluid">
                <div class="row" id="tabla">
                    <div>
                        <h1 style="text-align:center;">Gestion evaluacion</h1>
                        <div class="folder-container">
                            <a href="{% url 'crear_evaluacion' %}" class="folder-box"> <i
                                    class="bx bx-folder folder-icon"></i><!--cuando se hace clic, llevará al usuario a la URL llamada 'crear_evaluacion'. -->
                                <div>
                                    <p>Crear Evaluación</p>
                                </div>
                            </a>
                            <a href="{% url 'crear_pregunta' %}" class="folder-box"><!--ando se hace clic, llevará al usuario a la URL llamada 'crear_preguntas'. -->
                                <div>
                                    <i class="bx bx-folder folder-icon"></i>
                                    <p>Crear Preguntas</p>
                                </div>
                            </a>
                            <a href="{% url 'listar_evaluacion' %}" class="folder-box"> <i
                                    class="bx bx-folder folder-icon"></i><!--ando se hace clic, llevará al usuario a la URL llamada 'listar_evaluacion'. -->
                                <div>
                                    <p>Listar Evaluaciones</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}