{% extends 'Layout/Base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="home_content"> <!--1 -->
        <div class="text"><!--2 -->
            <div class="container-fluid">
                <div class="row" id="tabla">
                    <div>
                        <h1>Gestion evaluacion</h1>
                        <div class="caja1">
                            <div class="carpetas">
                                .carpteas
                            </div>
                        </div>
{% endblock %}