<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>VER EVALUACION</title>
     <script src="/static/js/temporizador_evaluacion.js"></script>
</head>
<body>
     <h1>VER EVALUACION</h1>
     <div id="cronometro">00:00</div>
    <form id="formulario" action="ver_evaluaciones.html" method="post">
        <!-- Aquí coloca los campos de tu formulario -->
        <button id="iniciar" type="submit" onclick="iniciar()">Iniciar Examen</button>" 
        <button id="terminar" type="submit" onclick="terminar()">Terminar Examen</button>"
        
     </form>
</body>
</html>
