<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->

{% load static %}
y
<!--es un bloqueo de contenido -->
{% block content %}
<!-- crea una sección de contenido que muestra un mensaje de bienvenida centrado en la página web.-->
<div class="contenido">
     <div class="row">
          <div class="col-6 offset-3 text-center " id="saludo">
               {% if request.user.is_authenticated %}
               <hr>
               <h1>
                    Hola {{ user.username | title }}.
                    <br />
                    Bienvenid@ a Cyres Educativo
               </h1>
               {% else %}
               <hr>
               <h1>
                    Hola.
                    <br />
                    Bienvenid@ a Cyres Educativo
               </h1>
               {% endif %}
          </div>
     </div>
</div>



{% endblock %}