.login-icon{
    height: 7rem;
}
.username,.password{
    height: 1rem;
}
#login{
    width: 20rem;
}
#olvido{
    font-size: 0.9rem;
    position: relative;
    top: 20px;
}
#id_username,#id_password{
    border: none;
    border: 2px solid gray;
    outline:none; 
    border-left: none;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}
