
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f0f0b4;
    overflow-y: scroll;
}

/* codigo para organizar el espacio utilizable en los htmls */
.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;

}

.sidebar.active~.home_content {
    width: calc(100 - 240px);
    left: 240px;
}

.all {
    margin: 0 auto;
    width: 40vw;
    color: #f7ece1;
    height: auto;
    position: relative;
}

h2 {
    position: relative;
    width: 95%;
    text-align: left;
    display: inline-block;
    font-size: 25px;
}

.tabla {
    min-width: 40vw;

    width: auto;
    background-color: #0E6BA8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin: 50px auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Añadido para centrar el contenido de la tabla */
    overflow: auto;
    /* Agregar barra de desplazamiento si es necesario */
    height: auto;
    /* Permitir que la altura se ajuste automáticamente */
    width: auto;
}

.respuesta_a,
.respuesta_b,
.respuesta_c,
.respuesta_d {
    background-color: #eeeeee;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 1rem;
    display: inline-block;
    overflow: auto;
    height: auto;
    width: 100%;

}

p {
    color: #333;
    font-size: 23px;
    text-align: start;
    padding: 1rem;
    margin: 0;
    font-weight: bold;
}

button {
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #92dce5;
    color: #00072D;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

}

button:hover {
    background-color: #111344;
    color: white;
    transition: .5s;
    transform: scale(1.2);
}



.back {
    position: fixed; /* Fija el botón en su posición */
    top: 5%; /* Distancia desde la parte superior en porcentaje */
    right: 5%; /* Distancia desde la derecha en porcentaje */
    width: 15vw; /* Ancho del botón */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back a {
    color: #00072D;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back:hover {
    background-color: #111344;
    transition: .5s;
    transform: scale(1.2);
}

.back:hover a {
    color: white;
}

.back1 {
    position: fixed; /* Fija el botón en su posición */
    top: 15%; /* Distancia desde la parte superior en porcentaje */
    right: 5%; /* Distancia desde la derecha en porcentaje */
    width: 15vw; /* Ancho del botón */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

}

.back1 a {
    color: #00072D;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back1:hover {
    background-color: #111344;
    transition: .5s;
    transform: scale(1.2);
}

.back1:hover a {
    color: white;
}

.correct {
    background-color: green; /* O cualquier otro estilo que desees */
    color: white;
    font-weight: bold;
}
.correct p{
    color: white;
}