<!--que la plantilla extiende a otra platilla llamada 'Base.html'-->
{% extends 'Layout/Base.html' %}
<!--para cargar los archivos estaticos en la platilla-->
{% load static %}
<!--es un bloqueo de contenido -->
{% block content %}
<link rel="stylesheet" href="{% static 'Css/V_evaluacion.css' %}">

<body>
    <div class="home_content">
        <div class="text">
            <div class="all">
                <div class="tabla">
                    <!--este div se utiliza para mostrar el nombre de un módulo en una página web. -->
                    <div class="titulo">
                        <h1>{{ v_modulos.nombre_modulo }}</h1>
                    </div>
                    <!-- etse div se utiliza para mostrar el estado de un módulo en una página web. -->
                    <div class="numIntentos">
                        <p>Estado: {% if v_modulos.estado_modulo %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                    </p>
                    </div>
                    <div class="button">
                        <a href="{% url 'editar_modulos' v_modulos.id %}">
                            <button type="button" class="subir">Editar</button>
                        </a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'listar_modulos' %}" id="back2">
        <button class="back">
            <div class="icon">
                <i class='bx bx-arrow-back'></i>
            </div>
            <span>
                Regresar
            </span>
        </button>    </a>
</body>
{% endblock %}